page-rekam-medik {
    .tengah{
        text-align: center;
    }

    h3{
        color: #fff;
        font-size: 1.0em;
        font-family: 'Gill Sams', 'Gill Sams MT', Baskerville Old Face, 'Trebuchet MS', sams-serif;
        font-weight: lighter;
        text-align: center;
      }
}

.toolbar-title{
    text-align: center;
}

.icon img {
    width:100px
}