page-hasil-list {

}
.background { 
    background: url('../assets/img/gbr.png') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}