page-list-hewan {
    .ukurs{
        font-size:14px;	
        // padding-left: 13px; 
        font-family: 'Lucida Grande';
        // text-align: center;
        // margin-top: 0em;
        // margin-bottom: 0em;
        // height: 32px;  
    }
      .tgh{
        text-align: center;
        font-size: 14px;
        font-family: 'Gill Sams', 'Gill Sams MT', Baskerville Old Face, 'Trebuchet MS', sams-serif;
      }
   
} 