// page-home{
//   background-color: #1485b9;
//   .home {
//     ion-list {
//       border-radius: 15rem;
//       overflow: hidden; 
//       ion-item,
//       .item:first-child,
//       .item:last-child {
//         border: none;
//       }

//       ion-datetime {
//         padding-left: 0;
//       }
//     }
//   }

//   ion-col div {
//     background-color: #f0f5ff;
//     border: 1px solid #e6e9ee;
//     border-radius: 10px;
//     padding: 20px;
//     text-align: center;
//   }

//   p {
//     padding: 10px 0 0 10px !important;
//     margin: 0;
//   }
 
// }

// .tab-item{ 
//   line-height: 15px; 
//   font-size: 5px;
//   color:rgb(0, 0, 0);
//   font-family: 'Roboto-Light';
 
// }
 

.card-background-page {
  background-color: #1485b9;
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #1485b9;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #1485b9;
  }

} 