page-hapus-antrian {
    .ukurs{
        font-size:14px;	
        font-family: 'Lucida Grande';
        margin-top: -1em;
        margin-bottom: -2em;
        height: 24px; 
        line-height: 1.0;
    }
}
